{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="shortcut icon" href="https://flowbite.com/docs/images/logo.svg">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</head>

<body class="bg-gradient-to-b from-indigo-950 to-blue-900" style="min-height: 1000px">
  {% block content %}{% endblock %}
</body>

</html>